.btn {
  background: var(--color-secondary);
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: (--text-font-size);
  text-align: center;
  line-height: 1.25rem;
  color: var(--color-white-text);
  border: none;
  &:hover {
    background: var(--color-dark-secondary);
    border: none;
  }
  &:disabled {
    background: var(--color-light-primary);
    border: none;
  }
}
