:host {
  width: 70%;
}

.statistic {
  position: relative;
  background-color: #fff;
  height: 100%;

  &__title {
    background-color: #3a5374;
    padding: 2rem;
    color: white;
    text-align: center;
    font-family: 'HelveticaNeueCyr';
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.7px;
  }

  &__text {
    color: #3a5374;
  }

  &__summary {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
  }

  &__income,
  &__expense {
    display: flex;

    font-size: 2.5rem;
    font-family: 'HelveticaNeueCyr';
  }

  &__expense {
    color: #e18337;
  }

  &__subtitle {
    padding-right: 1rem;
  }
}

.chart-container {
  canvas {
    width: 60%;
  }

  #myChart {
  }
}
