<div class="backdrop" (click)="onClose()"></div>

<div class="alert-box">
  <div class="form__header-container">
    <h2 class="form__header-title" *ngIf="!isEditMode">Add transaction</h2>
    <h2 class="form__header-title" *ngIf="isEditMode">Edit transaction</h2>
  </div>

  <form class="form" [formGroup]="transactionForm" (ngSubmit)="onTransactionFormSubmit()">
    <fieldset class="form__main">
      <div class="form__radio-container">
        <div class="form__radio form__radio-income">
          <input formControlName="type" type="radio" id="income" class="form__income" value="income">
          <label for="income">Income</label>
        </div>

        <div class="form__radio form__radio-expense">
          <input formControlName="type" type="radio" id="expense" class="form__expense" value="expense">
          <label for="expense">Expense</label>
        </div>
      </div>


      <div selected class="form__category-container" *ngIf="transactionType?.value === 'expense'">
        <select class="form__select" id="" formControlName="category">
          <option selected hidden value="">Category</option>
          <option *ngFor="let expense of expenses" [value]="expense.value"> {{expense.value}}
          </option>

        </select>
      </div>

      <div class="form__category-container" *ngIf="transactionType?.value === 'income'">
        <select class="form__select" id="" formControlName="category">
          <option selected hidden value="">Category</option>
          <option *ngFor="let income of incomes" [value]="income.value"> {{income.value}}
          </option>
        </select>

        <div
          *ngIf="transactionForm.controls['category'].invalid && (transactionForm.controls['category'].dirty || transactionForm.controls['category'].touched)"
          class="error">
          <div *ngIf="transactionForm.controls['category'].errors?.['required']">
            Category is required.
          </div>
        </div>
      </div>

      <div class="form__sum-date">
        <div class="form__sum-container">
          <input type="number" min="0.00" step="0.01" formControlName="sum" />

          <div
            *ngIf="transactionForm.controls['sum'].invalid && (transactionForm.controls['sum'].dirty || transactionForm.controls['sum'].touched)"
            class="error">
            <div *ngIf="transactionForm.controls['sum'].errors?.['required']">
              Sum is required.
            </div>
          </div>
        </div>


        <div class="form__date-container">
          <input type="date" name="" id="" formControlName="date">

          <div
            *ngIf="transactionForm.controls['date'].invalid && (transactionForm.controls['date'].dirty || transactionForm.controls['date'].touched)"
            class="error">
            <div *ngIf="transactionForm.controls['date'].errors?.['required']">
              Date is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form__comment-container">
        <p class="form__comment-title">Comment</p>
        <textarea name="" id="" cols="30" rows="5" formControlName="comment"></textarea>
      </div>
    </fieldset>
  </form>


  <button class="btn-add" *ngIf="!isEditMode; else isNotEditMode" [disabled]="transactionForm.invalid"
    (click)="onTransactionFormSubmit()">Save</button>


  <ng-template #isNotEditMode>
    <button class="btn-add" (click)="onTransactionFormSubmit()">Edit</button>
  </ng-template>


</div>
