@font-face {
  font-family: "BauhausC";
  src: url("../../../assets/fonts/bauhouse/BauhausC_Medium_Bold.ttf")
    format("woff2");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../../../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf")
    format("woff2");
}

.register-page.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
}

.register-page__title {
  font-family: "BauhausC";
  font-size: 24px;
  padding: 20px 0;
}

.register__wrapper-right {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.register__wrapper-form {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.register {
  &__control {
    width: 100%;
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 56px;
      border: none;
      background-color: #f2f7f7;
      border-radius: 5px;
      font-family: "HelveticaNeueCyr";
      font-size: 20px;
      padding-left: 54px;
      opacity: 0.5;
    }

    &-wrapper {
      position: relative;
    }

    &-icon {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 14px;
      left: 18px;
      opacity: 0.5;
    }
  }

  &__name {
    display: none;
  }

  &__validation {
    display: none;
  }

  &__submit {
    width: 273px;
    height: 40px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: "HelveticaNeueCyr";
    letter-spacing: 1.5px;
    color: var(--color-white-text);
    box-shadow: 2px 3px 3px rgba(225, 131, 55, 0.25);

    &:disabled {
      background-color: rgba(112, 124, 130, 0.3);
      box-shadow: 2px 3px 3px var(--color-dark-background);
      cursor: not-allowed;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    margin: 0 auto;
  }
}

.control-icon__email {
  background-image: url("../../../assets/icons/e-mail/baseline-email-24px.svg");
}

.control-icon__password,
.control-icon__confirm-password {
  background-image: url("../../../assets/icons/lock/baseline-lock-24px.svg");
}

.control-icon__name {
  background-image: url("../../../assets/icons/account-box/baseline-account_box-24px.svg");
}

.login__button {
  color: var(--color-primary);
  text-decoration: underline;
  transition: all 0.3s;
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.1);
    color: var(--color-dark-secondary);
  }
}

@media screen and (min-width: 768px) {
  .register-page.container {
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/bg-register-tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .register {
    &__control {
      margin-bottom: 15px;

      &-icon {
        top: 7px;
      }
    }

    input {
      height: 40px;
    }

    &__submit {
      margin-bottom: 15px;
    }

    &__name {
      color: #fff;
      font-family: "BauhausC";
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }

    &__name2 {
      display: block;
    }
  }

  .register-page__title {
    padding: 10px 0;
  }

  .register__wrapper-form {
    width: 550px;
    height: 460px;
    background-color: #fff;
    padding: 10px 38px;
  }

  .login__button {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .register-page.container {
    display: flex;
    padding: 0;
  }

  .register__wrapper-left {
    width: 30%;
    background-blend-mode: multiply;
    background: #3d5575 url("../../../assets/images/bg-register.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .register__wrapper-right {
    width: 70%;
    background-color: #fff;

    .register__name {
      display: none;
    }
  }

  .register__control {
    margin-bottom: 20px;

    input {
      height: 56px;
    }

    &-icon {
      top: 14px;
    }
  }

  .register__wrapper-form {
    height: 620px;
    padding: 40px 58px;
    box-shadow: 10px 17px 40px rgba(112, 124, 130, 0.3);
  }

  .register__img {
    min-width: 250px;
    height: 400px;
    background: url("../../../assets/images/phone.webp") no-repeat 50%;
    background-size: contain;
    margin-bottom: 40px;
  }

  .register__name1 {
    display: block;
  }

  .register__submit {
    margin-bottom: 20px;
  }

  .login__button {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .register__wrapper-form {
    width: 900px;
    height: 700px;
    padding: 30px 70px;
  }

  .register-page__title {
    font-size: 40px;
  }

  .register__control {
    height: 60px;
    margin-bottom: 28px;
  }

  .register__submit {
    margin-bottom: 40px;
  }

  .login__button {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .register__img {
    height: 600px;
  }

  .register__name {
    font-size: 36px;
  }
}
