<div class="register-page container">
  <div class="register__wrapper-left">
    <div class="register__img"></div>
    <h2 class="register__name register__name1">Finance App</h2>
  </div>

  <div class="register__wrapper-right">
    <div class="register__wrapper-form">
      <div class="register__title-wrapper">
        <app-logo></app-logo>

        <h1 class="register-page__title">Wallet</h1>
      </div>

      <app-alert [message]="errorMessage" *ngIf="errorMessage" (closeModal)="onHandleError()"></app-alert>

      <form class="register" [formGroup]="registerForm" (ngSubmit)="submitRegistration()">
        <div class="register__control">
          <div class="register__control-wrapper">
            <div class="register__control-icon control-icon__email"></div>
            <input type="email" id="email" formControlName="email" placeholder="{{'REGISTER.EMAIL' | translate}}" />
          </div>
          <div class="register__validation"
            *ngIf="controlEmail?.invalid && (controlEmail?.dirty || controlEmail?.touched)">
            <small *ngIf="controlEmail?.errors?.['required']">{{'REGISTER.EMAIL_ERROR_1' | translate}}</small>
            <small *ngIf="controlEmail?.errors?.['email']">{{'REGISTER.EMAIL_ERROR_2' | translate}}</small>
          </div>
        </div>

        <div class="register__control">
          <div class="register__control-wrapper">
            <div class="register__control-icon control-icon__password"></div>
            <input type="password" id="password" formControlName="password"
              placeholder="{{'REGISTER.PASSWORD' | translate}}" />
          </div>
          <div class="register__validation"
            *ngIf="controlPassword?.invalid && (controlPassword?.dirty || controlPassword?.touched)">
            <small *ngIf="controlPassword?.errors?.['required']">{{'REGISTER.PASSWORD_ERROR_1' | translate}}</small>
            <small *ngIf="controlPassword?.errors?.['minlength']">{{'REGISTER.PASSWORD_ERROR_3' | translate}}</small>
            <small *ngIf="controlPassword?.errors?.['pattern']">{{'REGISTER.PASSWORD_ERROR_2' | translate}}</small>

          </div>
        </div>

        <div class="register__control">
          <div class="register__control-wrapper">
            <div class="register__control-icon control-icon__confirm-password"></div>
            <input type="password" id="confirm-password" formControlName="confirmPassword"
              placeholder="{{'REGISTER.CONFIRM' | translate}}" />
          </div>
          <div class="register__validation"
            *ngIf="passwordMatchError && (controlConfirmPassword?.dirty || controlConfirmPassword?.touched)">
            <small *ngIf="controlConfirmPassword?.errors?.['required']">{{'REGISTER.CONFIRM_PASSWORD_ERROR_1' |
              translate}}</small>
            <small *ngIf="passwordMatchError">{{'REGISTER.CONFIRM_PASSWORD_ERROR_2' |
              translate}}</small>
          </div>
        </div>

        <div class="register__control">
          <div class="register__control-wrapper">
            <div class="register__control-icon control-icon__name"></div>
            <input type="text" id="name" formControlName="name" placeholder="{{'REGISTER.NAME' | translate}}" />
          </div>
          <div class="register__validation"
            *ngIf="controlName?.invalid && (controlName?.dirty || controlName?.touched)">
            <small *ngIf="controlName?.errors?.['required']">{{'REGISTER.NAME_ERROR_1' | translate}}</small>
            <small *ngIf="controlName?.errors?.['minlength']">{{'REGISTER.NAME_ERROR_2' | translate}}</small>
          </div>
        </div>

        <button type="submit" class="register__submit" [disabled]="!registerForm.valid">{{'REGISTER.ENTER' |
          translate}}</button>
      </form>

      <button type="button" class="login__button" (click)="login()">
        {{'REGISTER.LOG_IN' | translate}}
      </button>

      <div class="register__socials">
        <app-button-google></app-button-google>
        <app-button-fb></app-button-fb>
      </div>
    </div>

    <h2 class="register__name register__name2">Finance App</h2>
  </div>
</div>
