<div class="transactions" *ngIf="transactions | async; let transactions">

  <div class="transactions-table" *ngIf="transactions.length">
    <table>
      <thead>
        <tr>
          <td>{{"TRANSACTIONS.DATE" | translate}}</td>
          <td>{{"TRANSACTIONS.TYPE" | translate}}</td>
          <td>{{"TRANSACTIONS.CATEGORY" | translate}}</td>
          <td>{{"TRANSACTIONS.COMMENT" | translate}}</td>
          <td>{{"TRANSACTIONS.SUM" | translate}}</td>
          <td>{{"TRANSACTIONS.ACTION" | translate}}</td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transaction of transactions, let id = index">
          <td> {{transaction.date}} </td>
          <td> {{"TRANSACTIONS." + transaction.type | uppercase | translate}} </td>
          <td *ngIf="transaction.type === 'expense'"> {{"RANGES_EXPENSE." + transaction.category | translate}} </td>
          <td *ngIf="transaction.type === 'income'"> {{"RANGES_INCOME." + transaction.category | translate}} </td>
          <td> {{transaction.comment}} </td>
          <td [ngStyle]="{'color': transaction.type === 'expense' ? '#e18337' : '#3a5374'}"> {{transaction.sum}} </td>
          <td>
            <button class="btn-edit" (click)="onEditTransaction(id)"></button>
            <button class="btn-delete" (click)="onDeleteTransaction(id)"></button>
          </td>

          <app-add-transaction *ngIf="openEditingTransaction" [checkedId]="checkedId"
            (closeTransactionModal)="onModalClose()"></app-add-transaction>
        </tr>
      </tbody>
    </table>

  </div>

  <p *ngIf="!transactions.length">{{"TRANSACTIONS.NO_TRANSACTIONS" | translate}}</p>
</div>

<button class="add-button" (click)="addTransactionModal()">+</button>

<div class="add-transaction">
  <app-add-transaction *ngIf="openModal" (closeTransactionModal)="onModalClose()"></app-add-transaction>
</div>
