<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item navigation__item--active" [routerLink]="['/transactions']"
      [routerLinkActive]="'navigation__item--active'">
      <a class="navigation__link">
        <i class="item-home"></i>
        <p class="navigation__text"> {{"MAIN.MAIN" | translate}} </p>
      </a>
    </li>
    <li class="navigation__item" [routerLink]="['/statistic']" [routerLinkActive]="'navigation__item--active'">
      <a class="navigation__link">
        <i class="item-graph"></i>
        <p class="navigation__text">{{"MAIN.STATISTIC" | translate}}</p>
      </a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link">
        <i class="item-dollar"></i>
      </a>
    </li>
  </ul>

  <div class="balance">
    <p class="balance__title"> {{"MAIN.BALANCE" | translate}}</p>
    <p class="balance__summ"> {{transactionsService.totalSum$ | async}} {{"MAIN.CURRENCY_SHORT" | translate}}</p>
  </div>
</nav>
