<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item navigation__item--active" [routerLink]="['/transactions']"
      [routerLinkActive]="'navigation__item--active'">
      <a class="navigation__link">
        <i class="item-home"></i>
        <p class="navigation__text">Main</p>
      </a>
    </li>
    <li class="navigation__item" [routerLink]="['/statistic']" [routerLinkActive]="'navigation__item--active'">
      <a class="navigation__link">
        <i class="item-graph"></i>
        <p class="navigation__text">Statistic</p>
      </a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link">
        <i class="item-dollar"></i>
      </a>
    </li>
  </ul>

  <div class="balance">
    <p class="balance__title">Balance</p>
    <p class="balance__summ"> {{transactionsService.totalSum$ | async}} uah</p>
  </div>
</nav>
