.icon-fb {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  background-image: url("../../../../assets/icons/socials/fb.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  cursor: pointer;
  transition: transform 0.5s ease-out;

  &:hover {
    transform: scale(1.15);
  }
}
